/* dream stuff */

.dream_body {
	margin-top: 50px;
	background: url("../../res/img/dream_background3.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#dream_segment {
	margin-left: auto;
	margin-right: auto;
	min-width: 500px;
	min-height: 200px;
}

#view_dream_btn {
	margin-top: 30px;
}

.dream_image {
	max-height: 500px;
}

.dream_text {
	font-size: 24pt;
}

/* login stuff */

.gray_body {
	background-color: #DADADA;
	margin-top: 50px;
}

#login_column {
	max-width: 450px;
}

/* project form stuff */

#project_form_column {
	max-width: 600px;
}
